<!-- views/index.js -->
<!DOCTYPE html>
<html>
<head>
  <title>CatOnline</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="SHORTCUT ICON" href="images/favicon.ico" />
  <link rel="icon" href="images/favicon.ico" type="image/ico" />
  <style>
    svg * {
      /*opacity: 0.5;
      stroke: #000;*/
      stroke-width: 0;
    }
    svg path {
      fill: #999;
    }
    svg polygon {
      opacity: 0.5;
    }
  </style>
</head>

<body>

  <%- include( 'banner.ejs' ) %>

  <p class="testing-content" style="margin-top: 10%;">
    <svg id="gameboard" xmlns="http://www.w3.org/2000/svg" viewBox="-8 -6.99 16 15.28">
      <defs>
      </defs>

      <% for (let i=0; i< svg.tiles.length; i++) { %>
        <g class="tile-group" id="<%= 'tile-group '+i %>">
          <polygon class="tile-polygon" id="<%= 'polygon '+i %>" points="<%= svg.tiles[i].points %>" resource="" juncs=""/>
          <text class="tile-text" dominant-baseline="middle" alignment-baseline="central" text-anchor="middle" x="<%= svg.tiles[i].x %>" y="<%= svg.tiles[i].y %>">
            0
          </text>
        </g>
      <% }
      for (let i=0; i< svg.ports.length; i++) { %>
        <path class="port-path" id="<%= 'port '+i %>" d="<%= svg.ports[i].path %>" juncs="" />
      <% }
      for (let i=0; i< svg.roads.length; i++) { %>
        <path class="road-path" id="<%= 'road '+i %>" d="<%= svg.roads[i].path %>" juncs="" />
      <% }
      for (let i=0; i< svg.spots.length; i++) { %>
        <circle class="spot-circle" id="<%= 'spot '+i %>" cx="<%= svg.spots[i].x %>" cy="<%= svg.spots[i].y %>" r="0.2" roads="" hexes=""/>
      <% } %>

    </svg>
  </p>

  <!--<script src='/socket.io/socket.io.js'> </script>-->
  <script src='http://code.jquery.com/jquery-latest.min.js'> </script>
  <script>
  </script>
</body>
</html>
