<!-- views/index.js -->

<!DOCTYPE html>
<html>
<head>
  <title>Homepage test</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>

<body>

  <%- include( 'header.ejs' ) %>

  <div class="content">
    <div class="jumbotron text-center">
      <h1>This is the lobby page</h1>

      <!-- show any messages -->
      <% if (message.length > 0) { %>
          <div class="alert alert-danger"><%= message %></div>
      <% } %>

      <form action="/newgame" method="get">
        <button type="submit">Host a game</button>
      </form>

      <div class="active-game-container">
        Join an existing game
        <table class="game-list-table">
          <tr>
            <th>Scenario</th>
            <th>Humans</th>
            <th>CPUs</th>
            <th>Owner</th>
            <th>Victory Points</th>
            <th>Turn</th>
            <th>Date Created</th>
          </tr>
          <% for (var g=0; g< games.length; g++) { %>
            <%= console.log(games[g]) %>
            <tr class="game-list-item" id="<%=games[g]._id%>">
              <th><%=games[g].scenario%></th>
              <th>1/<%=games[g].numHumans%></th>
              <th><%=games[g].numCPUs%></th>
              <th><%=games[g].author%></th>
              <th><%=games[g].VPs%></th>
              <th>0</th>
              <th><%= games[g].created %></th>
            </tr>
          <% } %>
        </table>
      </div>

  </div>

  <script src='/socket.io/socket.io.js'> </script>
  <script src='http://code.jquery.com/jquery-latest.min.js'> </script>
  <script src='/resources/lib.js'> </script>
  <script>

    socket = io();

    // redirect to open a game on click
    gli = $(".game-list-item");
    gli.click( function(event) {
      window.location.href=("/play/" + event.target.parentElement.id);
    });

  </script>
</body>
</html>
