<!-- views/index.js -->
<!DOCTYPE html>
<html>
<head>
  <title>Homepage test</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>

<body>

  <%- include( 'header.ejs' ) %>

  <div class="content">
    <div class="jumbotron text-center">
      <h1>This is the lobby page</h1>

      <!-- show any messages -->
      <% if (message.length > 0) { %>
          <div class="alert alert-danger"><%= message %></div>
      <% } %>

      <form action="/newgame" method="get">
        <button type="submit">Host a game</button>
      </form>

      <div class="active-game-container">
        Join an existing game
        <table class="game-list-table">
          <tr>
            <th>Rules</th>
            <th>Humans</th>
            <th>CPUs</th>
            <th>Owner</th>
            <th>Victory Points</th>
            <th>Turn</th>
            <th>Date Created</th>
            <th>Date Modified</th>
          </tr>
          <% for (var g=0; g< games.length; g++) {
            if (games[g].meta.active) { %>
              <tr class="game-list-item" id="<%=games[g]._id%>">
                <th><%=games[g].settings.scenario%></th>
                <th>1/<%=games[g].settings.numHumans%></th>
                <th><%=games[g].settings.numCPUs%>/<%=games[g].settings.numCPUs%></th>
                <th><%=games[g].meta.author.name%></th>
                <th><%=games[g].settings.victoryPointsGoal%></th>
                <th>0</th>
                <th><%=games[g].meta.created%></th>
                <th><%=games[g].meta.updated%></th>
              </tr>
            <% }
          } %>
        </table>
      </div>

  </div>

  <script src='/socket.io/socket.io.js'> </script>
  <script src='http://code.jquery.com/jquery-latest.min.js'> </script>
  <script>

    socket = socket();

    // redirect to open a game on click
    gli = $(".game-list-item");
    gli.click( function(event) {
      window.location.href=("/play/" + event.target.parentElement.id);
    });

  </script>
</body>
</html>
