<!-- views/lobby.ejs -->

<!DOCTYPE html>
<html>
<head>
  <title>CatOnline &mdash; Lobby</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="SHORTCUT ICON" href="images/favicon.ico" />
  <link rel="icon" href="images/favicon.ico" type="image/ico" />
</head>

<body>

  <div class="lobby content">

    <div class="frame" id="messages">
      <%- include( 'messages.ejs' ) %>
    </div>

    <div class="frame" id="lists">
      <div class="lobby container" id="host-new-game">
        <form class="lobby" action="/newgame" method="post">

          <button id="new-game-show">Host</button>
          <br />

          <div class="lobby new-game" id="show-hide" style="display:none;">
            <div class="lobby new-game" id="config-container">
              <div class="lobby new-game subcontainer" id="dropdowns">
                <% for (var key in config.strings) {
                  value = config.strings[key]; %>
                  <span class="lobby new-game setting" id="<%= key %>">
                    <%= value.label %>:&nbsp;
                    <select class="lobby" name="<%= key %>" >
                      <% for (i=0; i< value.options.length; i++) {
                        if (value.options[i] === value.default) { %>
                          <option value="<%= value.options[i] %>" selected="selected">
                        <% } else { %>
                          <option value="<%= value.options[i] %>">
                        <% } %>
                          <%= value.options[i] %>
                        </option>
                      <% } %>
                    </select>
                  </span>
                <% }  %>
              </div>
              <div class="lobby new-game subcontainer" id="ranges">
                <% for (var key in config.ints) {
                  value = config.ints[key]; %>
                  <span class="lobby new-game setting" id="<%= key %>">
                    <%= value.label %>:&nbsp;
                    <input class="lobby" type="number" step="1" pattern="\d+" min="<%=value.min%>" max="<%=value.max%>" value="<%=value.default%>" name="<%= key %>" />
                  </span>
                <% } %>
              </div>
              <div class="lobby new-game subcontainer" id="checkboxes">
                <% for (var key in config.bools) {
                  value = config.bools[key]; %>
                  <span class="lobby new-game setting" id="<%= key %>">
                    <%= value.label %>:&nbsp;
                    <input class="lobby" type="checkbox" name="<%= key %>" <%= value.default ? 'checked' : '' %>>
                  </span>
                <% } %>
              </div>
            </div>
            <button id="new-game-submit">New game</button>
          </div>
        </form>

      </div>
      <div class="lobby container" id="active-games-cont">
        <p>In-progress games</p>
        <table class="lobby gamelist" id="active-games">
          <tr class="lobby header">
            <th>Turn</th>
            <th>Scenario</th>
            <th>Players</th>
            <!--<th>CPUs</th>-->
            <th>Owner</th>
            <th>Modified</th>
          </tr>
        </table>
      </div>
      <div class="lobby container" id="pending-games-cont">
        <p>Pending games</p>
        <table class="lobby gamelist" id="pending-games">
          <tr class="lobby header">
            <th>Status</th>
            <th>Scenario</th>
            <th>Humans</th>
            <!--<th>CPUs</th>-->
            <th>Owner</th>
            <th>Modified</th>
          </tr>
        </table>
      </div>
      <div class="lobby container" id="available-games-cont">
        <p>Available games</p>
        <table class="lobby gamelist" id="available-games">
          <tr class="lobby header">
            <th>Status</th>
            <th>Scenario</th>
            <th>Humans</th>
            <!--<th>CPUs</th>-->
            <th>Owner</th>
            <th>Modified</th>
          </tr>
        </table>
      </div>
      <div class="lobby container" id="private-code">
        <p>Enter a private code</p>
        <span>
          <form action="/join" method="post">
            <input type="text" name="gameid" pattern=".{24}" id="private-code-input" required>
            <button type="submit" id="join-by-code">Join</button>
          </form>
        </span>
        <p id="put-shit-here"></p>
      </div>
    </div>

  </div>

  <%- include( 'banner.ejs' ) %>

  <script src='/socket.io/socket.io.js'> </script>
  <script src='http://code.jquery.com/jquery-latest.min.js'> </script>
  <script src='/resources/core.js'> </script>
  <script src='/resources/messages.js'> </script>
  <script src='/resources/lobby.js'> </script>

</body>
</html>
