<!-- views/lobby.ejs -->

<!DOCTYPE html>
<html>
<head>
  <title>CatOnline &mdash; Lobby</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="SHORTCUT ICON" href="images/favicon.ico" />
  <link rel="icon" href="images/favicon.ico" type="image/ico" />
</head>

<body>

  <div class="lobby content">

    <div class="frame" id="messages">
      <%- include( 'messages.ejs' ) %>
    </div>

    <div class="frame" id="lists">
      <div class="lobby container" id="host-new-game">
        <form>

          <button type="button" class="show-hide">Host new game</button>
          <br />

          <div style="display:none;">
            <div class="label">New game settings</div>
            <div class="config-and-button-container">
              <div class="config-container">
                <div class="subcontainer dropdowns">
                  <% for (var key in config.strings) {
                    value = config.strings[key]; %>
                    <span class="setting">
                      <%= value.label %>:&nbsp;
                      <select name="<%= key %>" >
                        <% for (i=0; i< value.options.length; i++) {
                          if (value.options[i] === value.default) { %>
                            <option value="<%= value.options[i] %>" selected="selected">
                          <% } else { %>
                            <option value="<%= value.options[i] %>">
                          <% } %>
                            <%= value.options[i] %>
                          </option>
                        <% } %>
                      </select>
                    </span>
                  <% }  %>
                </div>
                <div class="subcontainer ranges">
                  <% for (var key in config.ints) {
                    value = config.ints[key]; %>
                    <span class="setting">
                      <%= value.label %>:&nbsp;
                      <input type="number" step="1" pattern="\d+" min="<%=value.min%>" max="<%=value.max%>" value="<%=value.default%>" name="<%= key %>" />
                    </span>
                  <% } %>
                </div>
                <div class="subcontainer checkboxes">
                  <% for (var key in config.bools) {
                    value = config.bools[key]; %>
                    <span class="setting">
                      <%= value.label %>:&nbsp;
                      <input type="checkbox" name="<%= key %>" <%= value.default ? 'checked' : '' %>>
                    </span>
                  <% } %>
                </div>
              </div>
              <button type="button" class="lobby post" name="new-game">New game</button>
            </div>
          </div>
        </form>

      </div>
      <%
      let tables=['active','pending','available'];
      for (let t=0; t< tables.length; t++) { %>
        <div class="lobby container" id="<%= tables[t] %>-games-cont">
          <p>In-progress games</p>
          <table class="lobby gamelist <%= tables[t] %>" id="<%= tables[t] %>-games">
            <tr class="lobby header">
              <th class="turn">Turn</th>
              <th class="status">Status</th>
              <th class="scenario">Scenario</th>
              <th class="players">Players</th>
              <th class="humans">Humans</th>
              <th class="owner">Owner</th>
              <th class="modified">Modified</th>
            </tr>
          </table>
        </div>
      <% } %>
      <div class="lobby container" id="private-code">
        <p>Enter a private code</p>
        <span>
          <form>
            <input type="text" name="gameid" pattern=".{24}" id="private-code-input" required>
            <button type="button" class="lobby post" name="join">Join</button>
          </form>
        </span>
      </div>
    </div>

  </div>

  <%- include( 'banner.ejs' ) %>

  <script src='/socket.io/socket.io.js'> </script>
  <script src='/resources/jquery-3.3.1.js'> </script>
  <script src='/resources/core.js'> </script>
  <script src='/resources/messages.js'> </script>
  <script src='/resources/lobby.js'> </script>

</body>
</html>
