<!-- views/index.js -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Homepage test</title>
  <link rel="stylesheet" href="/styles/style.css">
</head>

<body>

  <%- include( 'header.ejs' ) %>

  <div class="content">

    <h1>This is the new game page</h1>

    <!-- show any messages -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <form action="/newgame" method="post">
      <div class="config-container">
        <% for (var key in config) { %>
          <% if (config[key].type === 'int') { %>
            <%= config[key].label %>:&nbsp;
            <input type="number" step="1" pattern="\d+" min="<%=config[key].min%>" max="<%=config[key].max%>" value="<%=config[key].default%>" name="<%= key %>" />
            <br />
          <% } else if (config[key].type === 'string') { %>
            <%= config[key].label %>:&nbsp;
            <select name="<%= key %>" >
              <% for (i=0; i< config[key].options.length; i++) {
                if (config[key].options[i] === config[key].default) { %>
                  <option value="<%= config[key].options[i] %>" selected="selected">
                <% } else { %>
                  <option value="<%= config[key].options[i] %>">
                <% } %>
                  <%= config[key].options[i] %>
                </option>
              <% } %>
            </select>
            <br />
          <% }
        } %>
      </div>
      <button type="submit">Launch</button>
    </form>

  </div>

</body>
</html>
