<!-- views/play.js -->
<!DOCTYPE html>
<html>
<head>
  <title>CatOnline</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="SHORTCUT ICON" href="images/favicon.ico" />
  <link rel="icon" href="images/favicon.ico" type="image/ico" />
</head>

<body>


  <div class="play content">

    <div class="frame" id="control">
      <div class="panel" id="navigation">
        <button onclick="location.href='/lobby';" id="lobby">Go to lobby</button>
        <button onclick="forceSwitchView();" class="switch-view" id="wide">Switch to wide view</button>
      </div>

      <div class="panel" id="info">
        info
      </div>

      <%- include( 'messages.ejs' ) %>

    </div>

    <div class="frame" id="game">
      <svg id="gameboard" xmlns="http://www.w3.org/2000/svg" viewBox="-8 -6.99 16 15.28">
        <defs>
        </defs>

        <% for (let i=0; i< svg.tiles.length; i++) { %>
          <g class="tile-group" id="<%= i %>">
            <polygon class="tile-polygon <%= svg.tiles[i].resource %>" id="<%= i %>" points="<%= svg.tiles[i].points %>" conns="<%= svg.tiles[i].conns %>"/>
            <text class="tile-text <%= [6,8].includes(svg.tiles[i].roll) ? 'red' : '' %>" dominant-baseline="middle" alignment-baseline="central" text-anchor="middle" x="<%= svg.tiles[i].x %>" y="<%= svg.tiles[i].y %>">
              <%=svg.tiles[i].roll||''%>
            </text>
          </g>
        <% }
        for (let i=0; i< svg.ports.length; i++) { %>
          <path class="port-path <%= svg.ports[i].type %>" id="<%= i %>" d="<%= svg.ports[i].path %>" juncs="<%= svg.ports[i].juncs %>" />
        <% }
        for (let i=0; i< svg.roads.length; i++) { %>
          <path class="road-path <%= svg.roads[i].owner %>" id="<%= i %>" d="<%= svg.roads[i].path %>" juncs="<%= svg.roads[i].juncs %>" />
        <% }
        for (let i=0; i< svg.spots.length; i++) {
          if (svg.spots[i].isCity) { %>

          <% } else { %>
            <circle class="spot-circle <%= svg.spots[i].owner %>" id="<%= i %>" cx="<%= svg.spots[i].x %>" cy="<%= svg.spots[i].y %>" r="0.2" roads="<%= svg.spots[i].roads %>" hexes="<%= svg.spots[i].hexes %>"/>
          <% }
        } %>

      </svg>
    </div>

  </div>
  <%- include( 'banner.ejs' ) %>

  <p style="display:none;"><%- JSON.stringify(svg) %></p>
  <p style="display:none;"><%- JSON.stringify(data) %></p>

  <script src='/socket.io/socket.io.js'> </script>
  <script src='http://code.jquery.com/jquery-latest.min.js'> </script>
  <script src='http://ariutta.github.io/svg-pan-zoom/dist/svg-pan-zoom.min.js'> </script>
  <!--<script src="/resources/lib.js"> </script>-->
  <script src='/resources/core.js'> </script>
  <script src='/resources/messages.js'> </script>
  <script>

    function bind(game) {
      console.log(game);
      for (let i=0; i<game.hexes.length; i++) {
        let hex = game.hexes[i];
        $('#tile'+i+' polygon')
          .attr( 'resource', hex.resource )
          .attr( 'class', hex.resource );
        $('#tile'+i+' text')
          .attr( 'class', [6,8].indexOf(hex.roll) > -1 ? 'red' : '' )
          .text( hex.roll ? hex.roll : '' );
      }
      for (let i=0; i<game.juncs.length; i++) {
        let junc = game.juncs[i];
        $('#spot'+i).attr( 'class', junc.isCity ? 'spot city' : 'spot' );
        if (junc.port !== null)
          $('#port'+junc.port.num).attr( 'class', 'port '+junc.port.type );
      }
      for (let i=0; i<game.players.length; i++) {
        let player = game.players[i];
        for (let j=0; j<player.roads.length; j++) {
          $('#road'+j).attr( 'class', 'road player_'+player.color );
        }
        for (let j=0; j<player.settlements.length; j++) {
          $('#spot'+j).attr( 'class', 'spot player_'+player.color );
        }
        for (let j=0; j<player.cities.length; j++) {
          $('#spot'+j).attr( 'class', 'spot city player_'+player.color );
        }
        console.log(player);
      }
    }

    // set global variables
    var panzoom;

    // once all DOM is rendered
    $( function(){

      // set semiglobal objects
      panzoom = svgPanZoom('svg#gameboard');

      $('.tile-group').each( function(i) {
        $(this).click(function() {
          console.log( 'you clicked tile ' + this.id );
        });
      });

      $('.port-path').each( function(i) {
        $(this).click(function() {
          console.log( 'you clicked port ' + this.id );
        });
      });

      $('.road-path').each( function(i) {
        $(this).click(function() {
          console.log( 'you clicked road ' + this.id );
        });
      });

      $('.spot-circle').each( function(i) {
        $(this).click(function() {
          console.log( 'you clicked spot ' + this.id );
        });
      });

      bind( JSON.parse( $('#json').text() ) );

    });

  </script>
</body>
</html>
