<!-- views/play.js -->
<!DOCTYPE html>
<html>
<head>
  <title>CatOnline</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="SHORTCUT ICON" href="/images/favicon.ico" />
  <link rel="icon" href="/images/favicon.ico" type="image/ico" />
</head>

<body>


  <div class="play content">

    <div class="frame" id="control">
      <div class="panel" id="buttons">
        <button onclick="location.href='/lobby';" id="lobby">Go to lobby</button>
      </div>

      <div class="panel" id="game-data">
        <table id="public-data">
          <tr class="header">
            <th id="public-name">name</th>
            <th id="public-score">vp</th>
            <th id="public-resources">resources</th>
            <th id="public-longest-road">road</th>
            <th id="public-dev-cards">dev cards</th>
            <th id="public-knights">knights</th>
          </tr>
        </table>
        <div id="private-data">
        </div>
      </div>

      <%- include( 'messages.ejs' ) %>

    </div>

    <div class="frame" id="game">
      <div id="dice">
        <%- include( 'svg/die.ejs' ) %>
        <%- include( 'svg/die.ejs' ) %>
      </div>

      <%- include( 'svg/standard.ejs' ) %>

      <div id="modal-trade" class="modal" style="display:none;">
        <div class="modal-header">
          Offer a trade
        </div>
        <div class="modal-body">
          <div class="trade-out">
            Give
            <table>
              <tr>
                <th>Resource</th>
                <th>Number</th>
              </tr>
            </table>
          </div>
          <div class="trade-in">
            Get
            <table>
              <tr>
                <th>Resource</th>
                <th>Number</th>
              </tr>
            </table>
          </div>
          <div class="trade-with">
            With
            <table>
              <tr>
                <td>
                  <input type="checkbox" name="bank" class="trade-partner bank" onclick="modals.Trade.toggleCheck(this);" />
                </td>
                <td>the Bank</td>
              </tr>
            </table>
          </div>
        </div>
        <div class="trade-string">
          test
        </div>
        <div class="modal-footer">
          <button type="button" name="confirm" onclick="modals.Trade.confirm();">Confirm</button>
          <button type="cancel" name="cancel"  onclick="modals.Trade.cancel();">Cancel</button>
        </div>
      </div>
      <div id="modal-play-dc" class="modal" style="display:none;">
        <div class="modal-header">
        </div>
        <div class="dc-string">
        </div>
        <div class="modal-footer">
          <button type="button" name="confirm" onclick="modals.DC.confirm();">Confirm</button>
          <button type="cancel" name="cancel"  onclick="modals.DC.cancel();">Cancel</button>
        </div>
      </div>

    </div>

  </div>
  <%- include( 'banner.ejs' ) %>

  <script src='/socket.io/socket.io.js'> </script>
  <script src='/resources/jquery-3.3.1.js'> </script>
  <script src='/resources/svg-pan-zoom.js'> </script>
  <script src='/resources/core.js'> </script>
  <script src='/resources/messages.js'> </script>
  <script src='/resources/graph.js'> </script>
  <script src='/resources/play.js'> </script>
</body>
</html>
