<!-- views/index.js -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>CatOnline &mdash; New game</title>
  <link rel="stylesheet" href="/styles/style.css">
  <link rel="SHORTCUT ICON" href="images/favicon.ico" />
  <link rel="icon" href="images/favicon.ico" type="image/ico" />
</head>

<body>

  <div class="content">

    <h1>This is the new game page</h1>

    <!-- show any messages -->
    <% if (message.length > 0) { %>
        <p class="alert alert-danger"><%= message %></p>
    <% } %>

    <button onclick="location.href='/lobby';" id="lobby">Go to lobby</button>

    <form action="/newgame" method="post">
      <div class="config-container">
        <% for (var key in config) { %>
          <%= config[key].label %>:&nbsp;
          <% if (config[key].type === 'int') { %>
            <input type="number" step="1" pattern="\d+" min="<%=config[key].min%>" max="<%=config[key].max%>" value="<%=config[key].default%>" name="<%= key %>" />
            <br />
          <% } else if (config[key].type === 'string') { %>
            <select name="<%= key %>" >
              <% for (i=0; i< config[key].options.length; i++) {
                if (config[key].options[i] === config[key].default) { %>
                  <option value="<%= config[key].options[i] %>" selected="selected">
                <% } else { %>
                  <option value="<%= config[key].options[i] %>">
                <% } %>
                  <%= config[key].options[i] %>
                </option>
              <% } %>
            </select>
            <br />
          <% } else if (config[key].type === 'bool') { %>
            <input type="checkbox" name="<%= key %>" <%= config[key].default ? 'checked' : '' %>>
          <% }
        } %>
      </div>
      <button type="submit">Launch</button>
    </form>

  </div>

  <%- include( 'banner.ejs' ) %>

</body>
</html>
